<%- include('partials/navbar'); %>
<link rel="stylesheet" href="../../public/stylesheets/about2.css">
<link rel="stylesheet" href="../../public/stylesheets/PAF.css">

<div class="container cntr">

    <div class="card mx-auto crd">

        <div class="card-header text-left cardHead">

            <h2>
                Patients Medical Details
            </h2>

            <p class="text-muted">
                Fill the form below accurately indicating the appointment type you need. We will get back soon to you for more updates.
            </p>

        </div>

        <div class="card-body">

            <form action="put/<%= medical[0].reg_id %>" method="POST" class="formG">
                <div class="form-group row">

                    <label class="col-md-3 col-form-label">GENDER<span class="r">*</span></label>

                    <div class="col-md-9">

                        <select class="form-control" name="gender" id="gender" required>
                            <% if (medical[0].gender==="Male") { %>
                                <option value="" disabled hidden>---Select---</option>
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            <%} else { %>
                                <% if (medical[0].gender==="Female") { %>
                                    <option value="" disabled hidden>---Select---</option>
                                    <option value="Male">Male</option>
                                    <option value="Female" selected>Female</option>
                                    <option value="Others">Others</option>
                                <%} else { %>
                                    <option value="" disabled hidden>---Select---</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others" selected>Others</option>
                                <%}%>
                            <%}%>
                        </select>

                    </div>

                </div>

                <div class="form-group row">

                    <label class="col-md-3 col-form-label">BLOOD GROUP<span class="r">
                        *</span>
                    </label>

                    <div class="col-md-9">

                        <select class="form-control" name="bg" id="bg" required disabled>
                            <% if (medical[0].bg==="A+") { %>
                                <option value="" disabled hidden>---Select---</option>
                                <option value="A+" selected>A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="Other">Other</option>
                            <%} else { %>
                                <% if (medical[0].bg==="A-") { %>
                                    <option value="" disabled hidden>---Select---</option>
                                    <option value="A+">A+</option>
                                    <option value="A-" selected>A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="Other">Other</option>
                                <%} else { %>
                                    <% if (medical[0].bg==="B+") { %>
                                        <option value="" disabled hidden>---Select---</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+" selected>B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                        <option value="Other">Other</option>
                                    <%} else { %>
                                        <% if (medical[0].bg==="B-") { %>
                                            <option value="" disabled hidden>---Select---</option>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-" selected>B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                            <option value="Other">Other</option>
                                        <%} else { %>
                                            <% if (medical[0].bg==="AB+") { %>
                                                <option value="" disabled hidden>---Select---</option>
                                                <option value="A+">A+</option>
                                                <option value="A-">A-</option>
                                                <option value="B+">B+</option>
                                                <option value="B-">B-</option>
                                                <option value="AB+" selected>AB+</option>
                                                <option value="AB-">AB-</option>
                                                <option value="O+">O+</option>
                                                <option value="O-">O-</option>
                                                <option value="Other">Other</option>
                                            <%} else { %>
                                                <% if (medical[0].bg==="AB-") { %>
                                                    <option value="" disabled hidden>---Select---</option>
                                                    <option value="A+">A+</option>
                                                    <option value="A-">A-</option>
                                                    <option value="B+">B+</option>
                                                    <option value="B-">B-</option>
                                                    <option value="AB+">AB+</option>
                                                    <option value="AB-" selected>AB-</option>
                                                    <option value="O+">O+</option>
                                                    <option value="O-">O-</option>
                                                    <option value="Other">Other</option>
                                                <%} else { %>
                                                    <% if (medical[0].bg==="O+") { %>
                                                        <option value="" disabled hidden>---Select---</option>
                                                        <option value="A+">A+</option>
                                                        <option value="A-">A-</option>
                                                        <option value="B+">B+</option>
                                                        <option value="B-">B-</option>
                                                        <option value="AB+">AB+</option>
                                                        <option value="AB-">AB-</option>
                                                        <option value="O+" selected>O+</option>
                                                        <option value="O-">O-</option>
                                                        <option value="Other">Other</option>
                                                    <%} else { %>
                                                        <% if (medical[0].bg==="O-") { %>
                                                            <option value="" disabled hidden>---Select---</option>
                                                            <option value="A+">A+</option>
                                                            <option value="A-">A-</option>
                                                            <option value="B+">B+</option>
                                                            <option value="B-">B-</option>
                                                            <option value="AB+">AB+</option>
                                                            <option value="AB-">AB-</option>
                                                            <option value="O+">O+</option>
                                                            <option value="O-" selected>O-</option>
                                                            <option value="Other">Other</option>
                                                        <%} else { %>
                                                            <option value="" disabled hidden>---Select---</option>
                                                            <option value="A+">A+</option>
                                                            <option value="A-">A-</option>
                                                            <option value="B+">B+</option>
                                                            <option value="B-">B-</option>
                                                            <option value="AB+">AB+</option>
                                                            <option value="AB-">AB-</option>
                                                            <option value="O+">O+</option>
                                                            <option value="O-">O-</option>
                                                            <option value="Other" selected>Other</option>
                                                        <% } %>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            <% } %>

                        </select>

                    </div>

                </div>

                <div class="form-group row">

                    <label class="col-md-3 col-form-label">WEIGHT(KG)<span class="r">
                        *</span>
                    </label>

                    <div class="col-md-9">

                        <input class="form-control" type="number" name="weight" id="weight" 
                        placeholder="Weight In Kg" min="0" required value="<%= medical[0].weight %>">

                    </div>

                </div>

                <div class="form-group row">

                    <label class="col-md-3 col-form-label">HEIGHT(CM)<span class="r">
                        *</span>
                    </label>

                    <div class="col-md-9">

                        <input type="number" class="form-control" name="height" id="height" 
                        placeholder="Height In Cm" min="0" required value="<%= medical[0].height %>">

                    </div>

                </div>

                <div class="form-group row">

                    <label class="col-md-3 col-form-label">ALLERGIES</label>

                    <div class="col-md-9">

                        <textarea name="allergies" id="allergies" cols="96" rows="10" placeholder="Name them if any..."><%= medical[0].allergies %></textarea>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-2 offset-md-4">

                        <input class="btn btn-success btn-lg" onclick="modOpen()" data-target="#myModal" type="button" value="SUBMIT    &#10003;">


                    </div>

                    <div class="col-md-4 offset-md-2">

                        <input type="button" class="btn btn-danger btn-lg" onclick="modOp()" data-target="#myMod" value="CLEAR    &#8634;">

                    </div>

                </div>

                <div class="modal fade" id="myModal">

                    <div class="modal-dialog modal-dialog-centered">

                        <div class="modal-content">

                            <div class="modal-header">

                                <h5 class="modal-title">
                                    <img src="../../public/images/CT.png" width="30" height="30"> CONFIRMATION
                                </h5>
                                
                                <span class="close closeBtn" data-dismiss="modal">
                                    &times;
                                </span>

                            </div>

                            <div class="modal-body">

                                <p>Are you sure you want to SUBMIT the data?</p>

                            </div>

                            <div class="modal-footer">

                                <button class="btn btn-success" type="submit" href="/" id="submit" onclick="modClose()">YES</button>

                                <button class="btn btn-danger" data-dismiss="modal">NO</button>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="modal fade" id="myMod">

                    <div class="modal-dialog modal-dialog-centered">

                        <div class="modal-content">

                            <div class="modal-header">

                                <h5 class="modal-title">
                                  <img src="../../public/images/EXM.png" width="30" height="30">  CONFIRMATION
                                </h5>

                                <span class="closeBtn close" data-dismiss="modal">
                                    &times;
                                </span>

                            </div>

                            <div class="modal-body">

                                <p>Are you sure you want to RESET the data?</p>

                            </div>

                            <div class="modal-footer">

                                <button class="btn btn-success" id="reset" type="reset" onclick="modClo();topPage()" data-target="#myMod">
                                    YES
                                </button>

                                <button class="btn btn-danger" data-dismiss="modal">NO</button>

                            </div>

                        </div>

                    </div>

                </div>

            </form>

        </div>

    </div>

    <div style="min-height: 50px;"></div>

</div>

<script src="../../public/javascripts/fmod.js"></script>

<%- include('partials/footer'); %>